# .NET Core
## Ignore the build and publish output directories
bin/
obj/

# Visual Studio Code
.vscode/

# Rider
.idea/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.sln.ide

# Build Results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio files
*.suo
*.user
*.userosscache
*.sln.docstates
*.sln.ide

# ReSharper
_ReSharper*/
*.ReSharper*/
*.DotSettings.user

# NuGet
*.nuget.props
*.nuget.targets
**/packages/
*.lock.json
*.nuget.targets
*.paket/paket.exe
.paket/paket-files/
*.paket/

# SQL Server files
*.mdf
*.ldf

# Windows image file caches
Thumbs.db
ehthumbs.db

